[*.cs]

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
